@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}

.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

body{
    color: #3333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a0c09;
    height: 100px;
    width: 100%;
    top: 0;
    color: #ffffff;
    padding: 0rem 4rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .menu{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.navbar a:hover{
    color: #f584af;
}

.menu_m{
    position: relative;
    text-align: center;
    width: 150px;
    padding: 1.5rem;
    z-index: 1;
}

.submenu{
    display: none;
    position: absolute;
    left: 0;
    background-color: #333333;
    min-width: 180px;
    top: 100%;
}

.submenu li{
    border-bottom: 1px solid #555555;
}

.submenu li a{
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.875rem;
}

.submenu li a:hover{
    background-color: #f584af;
    color: #333333;
}

.menu_m:hover .submenu{
    display: block;
}

.hero{
    position: relative;
    background-image: url(../img/img4.png); /* 이미지 경로 */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #f4f4f4;
}

.hero2{
    position: relative;
    background-image: url(../img/img4.png); /* 이미지 경로 */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #f4f4f4;
}

.hero_content h1{
    font-size: 4rem;
    margin-top: 40rem;
    color: #f800ae;
}

.hero_content p{
    font-size: 1.2rem;
    color: #f800ae;
    margin-bottom: 2rem;
}

/* .cta-btn{
    background-color: #333333;
    color: #ffffff;
    padding: 0.75rem 2rem;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
} */

/* .cta-btn:hover{
    background-color: #ffffff;
    color: #f8bbc6;
} */

.cta-btn{
    background-color: #0a0c09;
    color: #f584af;
    padding: 10px 30px;
    border-radius: 30px;
}

.cta-btn:hover{
    box-shadow: 5px 5px 0 #18191f, 10px 10px 0 #353742;
    transition: 0.5s;
}

.t_Work{
    text-align: center;
    padding-top: 120px;
}

.t_Work h1{
    color: #ffffff;
    font-size: 3rem;
}


section{
    color: aliceblue;
    background-color: #0a0c09;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.work{
    display: flex;
    gap: 50px;
}

.hexa{
    width: 400px;
    height: 400px;
    position: relative;
    transition: 0.5s;
}

.hexa:hover{
    transform: translateY(-40px);
}

.hexa .cap{
    position: absolute;
    width: inherit;
    height: inherit;
    color: #ffffff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
}

.hexa:hover .cap{
    opacity: 1;
    transform: translateY(0px);
}

.hexa .cap h2{
    font-size: 2rem;
}

.hexa:nth-child(1) .cap{
    background: linear-gradient(to top, rgb(20, 3, 255),transparent);
}

.hexa:nth-child(2) .cap{
    background: linear-gradient(to top, rgb(56, 18, 48),transparent);
}

.hexa:nth-child(3) .cap{
    background: linear-gradient(to top, rgb(113, 219, 219),transparent);
}

.shape{
    clip-path: polygon(50% 0,100% 30%,100% 70%,50% 100%,0 70%,0 30%);
    width:inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
}

.shape img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.hexa .cap{
    position: absolute;
    width: inherit;
    height: inherit;
    color: #ffffff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transform: translateY(20px);
}

.about{
    background-color: #0a0c09;
    position: relative;
}

.section-inner{
    width: 100%;
    height: 100vh;
}

.accordion-content{
    display: flex;
}

.focus{
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.accordion{
    flex: 4;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.accordion *{
   transition: 0.5s;
}

.accordion li{
    height: 600px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-right: 1px solid #261d36;
    cursor: pointer;
}

.accordion:hover li{
    flex: 1;
}

.accordion li:hover{
    flex: 2;
    background-color: #261d36;
}

.accordion li:hover .number{
    font-size: 10rem;
    color: #ff641d;
}

.accordion li:hover .number:after{
    background-color: #ff399c;
}

.accordion li:before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 20px;
}

.accordion li .number{
    font-size: 12rem;
    position: relative;
    transition: translateY(-120px);
}

.accordion li .number:after{
    content:'';
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #f4f4f4;
    bottom: 30px;
    left: 0;
}

.info:hover h2{
    color: #af98ff;
}

footer{
    text-align: center;
    padding: 2rem;
    background-color: #0a0c09;
    position: relative;
    color: #f4f4f4;
    height: 100px;
}