@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.rubik-glitch-regular {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  
body{
    font-family: "Rubik Glitch", system-ui;
    margin: 0;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(13, 9, 31);
}

.text-box{
    line-height: 4rem;
}

.text-box span{
    font-size: 5rem;
    color: rgb(255, 244, 228);;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.text-box span:nth-child(1){
    letter-spacing: 34px;
}
.text-box span:nth-child(3){
    letter-spacing: 23px;
}
.text-box span:nth-child(4){
    letter-spacing: 40px;
}
.text-box span:first-letter{
    color: rgb(26, 130, 226);
}